<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>518287393664-gf209oo8j0t7pub7h2ovbpek76amfg1e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBqnDi436lYDbhU92LiLUqlYHq2FUQDjgA</string>
	<key>GCM_SENDER_ID</key>
	<string>518287393664</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.challengerew.two.challengerevtwo</string>
	<key>PROJECT_ID</key>
	<string>instasport-14660</string>
	<key>STORAGE_BUCKET</key>
	<string>instasport-14660.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:518287393664:ios:52a6b2762cbac68ffe3765</string>
	<key>DATABASE_URL</key>
	<string>https://instasport-14660.firebaseio.com</string>
</dict>
</plist>